@{
    Layout = "/Areas/Admin/Views/Shared/Layout.cshtml";
}
@using Week.Models;
@using System.IO
@{
    var TieuDe = Model != null ? Model.TieuDe : "";
    var NoiDung = Model != null ? Model.NoiDung : "";
    DateTime? NgayDang = Model != null ?(DateTime?)Model.NgayDang : (DateTime?)null;
    int Id = Model != null ? Model.Id : 0;
    var Image = Model != null ? Model.Image : "";
}
@inject MyDbConnect db;
@functions {

    public List<ItemUsers> DanhSach()
    {
        List<ItemUsers> x = db.Users.ToList();
        return x;
    }
    // kiểm tra dữ liệu nhập vào
    public bool CheckUser(int CategoriesId)
    {
        ItemUsers x = db.Users.Where(s => s.Id == CategoriesId).FirstOrDefault();
        if (x != null)
        {
            return true;
        }
        else
            return false;
    }
}
<script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
<div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                        <i class="ti ti-bell-ringing"></i>
                        <div class="notification bg-primary rounded-circle"></div>
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                    <a href="https://adminmart.com/product/modernize-free-bootstrap-admin-dashboard/" target="_blank" class="btn btn-primary">Download Free</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="/Backend/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-user fs-6"></i>
                                    <p class="mb-0 fs-3">My Profile</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-mail fs-6"></i>
                                    <p class="mb-0 fs-3">My Account</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-list-check fs-6"></i>
                                    <p class="mb-0 fs-3">My Task</p>
                                </a>
                                <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--  Header End -->
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Create</h5>
                    <div class="card">
                        <img class="card-body">
                            <form method="post" action="@ViewBag.task">
                                @Html.AntiForgeryToken()
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Tiêu Đề</label>
                                    <input required type="text" value="@TieuDe"
                                           class="form-control" name="TieuDe" placeholder="Tieu De" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Nội Dung</label>
                                    <input required type="text" value="@NoiDung"
                                           class="form-control" name="NoiDung" placeholder="Noi Dung" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Ngày Đăng</label>
                                    <input required type="datetime-local" value="@NgayDang"
                                           class="form-control" name="NgayDang" placeholder="Ngay Dang" id="exampleInputPassword1">
                                </div>
                                
                                <div class="mb-3">
                                    <label for="disabledSelect" class="form-label">Người Đăng</label>
                                    <select name="UserName" class="form-select" tabindex="1">
                                        @{
                                            var x = DanhSach();

                                        }
                                        @foreach (var k in x)
                                        {
                                            string str_check = "";
                                            if (Model != null && CheckUser(k.Id) == true)
                                            {
                                                str_check = "selected";
                                            }
                                            <option @str_check value="@k.UserName"> @k.UserName</option>
                                        }

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputFile" class="form-label">Image</label>
                                    <input required type="file"
                                           class="form-control" name="Image" id="exampleInputFile">
                                </div>
                                <img src="~/Image/hinh-dep.jpg"></img>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
